In [4]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
checkin = pd.read_csv('../../../data/interim/clean_US_cities/checkin_clean.csv')

In [3]:
checkin.head()

,business_id,time,type
0,7KPBkxAOEtb3QeIL9PEErg,"[Fri-0:2, Sat-0:1, Sun-0:1, Wed-0:2, Sat-1...",checkin
1,kREVIrSBbtqBhIYkTccQUg,"[Mon-13:1, Thu-13:1, Sat-16:1, Wed-17:1, S...",checkin
2,nhZ1HGWD8lMErdn3FuWuTQ,"[Fri-0:1, Sat-0:1, Sun-0:1, Thu-0:1, Wed-0...",checkin
3,8bY6M2yiWOF2ilfmGS34Fw,"[Sat-11:1, Fri-13:1, Thu-14:1]",checkin
4,zNVot5_XHsxwfKdiFjk_aA,"[Mon-0:1, Fri-1:1, Sun-1:1, Tue-1:1, Wed-1...",checkin

In [19]:
checkin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92070 entries, 0 to 92069
Data columns (total 3 columns):
business_id    92070 non-null object
time           92070 non-null object
type           92070 non-null object
dtypes: object(3)
memory usage: 2.1+ MB

In [97]:
# Making columns aggregating checkins by day of week

checkin['mon_list'] = checkins['time'].map(lambda x: [list_item for list_item in x[1:-1].split(',') if 'Mon' in list_item])
checkin['tue_list'] = checkins['time'].map(lambda x: [list_item for list_item in x[1:-1].split(',') if 'Tue' in list_item])
checkin['wed_list'] = checkins['time'].map(lambda x: [list_item for list_item in x[1:-1].split(',') if 'Wed' in list_item])
checkin['thu_list'] = checkins['time'].map(lambda x: [list_item for list_item in x[1:-1].split(',') if 'Thu' in list_item])
checkin['fri_list'] = checkins['time'].map(lambda x: [list_item for list_item in x[1:-1].split(',') if 'Fri' in list_item])
checkin['sat_list'] = checkins['time'].map(lambda x: [list_item for list_item in x[1:-1].split(',') if 'Sat' in list_item])
checkin['sun_list'] = checkins['time'].map(lambda x: [list_item for list_item in x[1:-1].split(',') if 'Sun' in list_item])

In [98]:
# Converting day of week lists to dictionaries so that # of checkins can be looked up by hour

checkin['mon_list'] = checkin['mon_list'].map(lambda x: 
                                              {int(list_item.replace(' ', '').replace('Mon-', '').split(':')[0]):int(list_item.replace(' ', '').replace('Mon-', '').split(':')[1]) 
                                               for list_item in x})

checkin['tue_list'] = checkin['tue_list'].map(lambda x: 
                                              {int(list_item.replace(' ', '').replace('Tue-', '').split(':')[0]):int(list_item.replace(' ', '').replace('Tue-', '').split(':')[1]) 
                                               for list_item in x})

checkin['wed_list'] = checkin['wed_list'].map(lambda x: 
                                              {int(list_item.replace(' ', '').replace('Wed-', '').split(':')[0]):int(list_item.replace(' ', '').replace('Wed-', '').split(':')[1]) 
                                               for list_item in x})

checkin['thu_list'] = checkin['thu_list'].map(lambda x: 
                                              {int(list_item.replace(' ', '').replace('Thu-', '').split(':')[0]):int(list_item.replace(' ', '').replace('Thu-', '').split(':')[1]) 
                                               for list_item in x})

checkin['fri_list'] = checkin['fri_list'].map(lambda x: 
                                              {int(list_item.replace(' ', '').replace('Fri-', '').split(':')[0]):int(list_item.replace(' ', '').replace('Fri-', '').split(':')[1]) 
                                               for list_item in x})

checkin['sat_list'] = checkin['sat_list'].map(lambda x: 
                                              {int(list_item.replace(' ', '').replace('Sat-', '').split(':')[0]):int(list_item.replace(' ', '').replace('Sat-', '').split(':')[1]) 
                                               for list_item in x})

checkin['sun_list'] = checkin['sun_list'].map(lambda x: 
                                              {int(list_item.replace(' ', '').replace('Sun-', '').split(':')[0]):int(list_item.replace(' ', '').replace('Sun-', '').split(':')[1]) 
                                               for list_item in x})

In [102]:
checkin.head()

,business_id,time,type,sat_list,mon_list,tue_list,wed_list,thu_list,fri_list,sun_list
0,7KPBkxAOEtb3QeIL9PEErg,"[Fri-0:2, Sat-0:1, Sun-0:1, Wed-0:2, S...",checkin,"{0: 1, 1: 2, 2: 1, 10: 1, 12: 1, 13: 2, 14: 1,...","{11: 1, 12: 1, 18: 1, 19: 1, 20: 1, 23: 1}","{4: 1, 12: 1, 13: 2, 15: 1, 16: 1, 18: 2, 20: ...","{0: 2, 1: 1, 2: 1, 6: 1, 11: 2, 13: 2, 14: 1, ...","{1: 1, 2: 1, 4: 1, 13: 1, 15: 1, 19: 1, 20: 1,...","{0: 2, 3: 1, 10: 1, 14: 2, 15: 1, 16: 1, 18: 1...","{0: 1, 2: 2, 3: 3, 6: 1, 16: 1, 17: 1, 18: 1, ..."
1,kREVIrSBbtqBhIYkTccQUg,"[Mon-13:1, Thu-13:1, Sat-16:1, Wed-17:1,...",checkin,"{16: 1, 21: 1}",{13: 1},{},{17: 1},"{20: 1, 13: 1}",{},{19: 1}
2,nhZ1HGWD8lMErdn3FuWuTQ,"[Fri-0:1, Sat-0:1, Sun-0:1, Thu-0:1, W...",checkin,"{0: 1, 1: 1, 3: 1, 17: 1, 20: 1, 22: 3, 23: 2}","{2: 1, 17: 1, 18: 1, 19: 1, 20: 3, 21: 1}","{1: 1, 23: 3, 22: 3, 17: 1}","{0: 1, 3: 1, 22: 1}","{0: 1, 2: 1, 3: 1, 20: 1, 21: 1}","{0: 1, 1: 1, 18: 1}","{0: 1, 17: 2, 2: 1, 18: 1, 22: 1}"
3,8bY6M2yiWOF2ilfmGS34Fw,"[Sat-11:1, Fri-13:1, Thu-14:1]",checkin,{11: 1},{},{},{},{14: 1},{13: 1},{}
4,zNVot5_XHsxwfKdiFjk_aA,"[Mon-0:1, Fri-1:1, Sun-1:1, Tue-1:1, W...",checkin,"{17: 1, 20: 2, 21: 1}",{0: 1},"{1: 1, 12: 1}","{11: 1, 23: 1}","{16: 1, 20: 2, 21: 1}","{1: 1, 18: 1, 12: 1, 13: 1, 20: 1}","{1: 1, 18: 1, 20: 1, 15: 1}"