In [1]:
import pandas as pd

In [2]:
checkin = pd.read_csv('../../../data/interim/US_cities_only/checkin_US.csv')

In [3]:
checkin.head()

,business_id,time,type
0,7KPBkxAOEtb3QeIL9PEErg,"[Fri-0:2, Sat-0:1, Sun-0:1, Wed-0:2, Sat-1:2, ...",checkin
1,kREVIrSBbtqBhIYkTccQUg,"[Mon-13:1, Thu-13:1, Sat-16:1, Wed-17:1, Sun-1...",checkin
2,nhZ1HGWD8lMErdn3FuWuTQ,"[Fri-0:1, Sat-0:1, Sun-0:1, Thu-0:1, Wed-0:1, ...",checkin
3,8bY6M2yiWOF2ilfmGS34Fw,"[Sat-11:1, Fri-13:1, Thu-14:1]",checkin
4,zNVot5_XHsxwfKdiFjk_aA,"[Mon-0:1, Fri-1:1, Sun-1:1, Tue-1:1, Wed-11:1,...",checkin

In [4]:
# Cleaning 'time' column

checkin['time'] = checkin['time'].map(lambda x: x[1:-1].split(','))

In [5]:
# Writing clean 'checkin' dataframe to csv

checkin.to_csv('../../../data/interim/clean_US_cities/checkin_clean.csv', encoding='utf-8', index=False)